<a href="https://colab.research.google.com/github/SAGO-20/SQL/blob/main/Practice1_SQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

I am using SQLZOO for practice.([Exercise](https://sqlzoo.net/wiki/More_JOIN_operations)).

I will be using Movie Database.([Database](https://sqlzoo.net/wiki/More_details_about_the_database.))

In [ ]:
#List the films where the yr is 1962 [Show id, title]
SELECT id, title
FROM movie
WHERE yr = 1962

In [ ]:
# When was Citizen Kane released?
SELECT yr 
FROM movie 
WHERE title = 'Citizen Kane'

In [ ]:
# List all of the Star Trek movies, include the id, title and yr 
# (all of these movies include the words Star Trek in the title). Order results by year.
SELECT id, title, yr
FROM movie
WHERE title LIKE '%Star Trek%'
ORDER BY yr

In [ ]:
# id for actor Glenn Close
SELECT id
FROM actor
WHERE name = 'Glenn Close'

In [ ]:
# What is the id of the film 'Casablanca'
SELECT id
FROM movie
WHERE title = 'Casablanca'