I am using SQLZOO for practice.([Exercise](https://sqlzoo.net/wiki/More_JOIN_operations)).

I will be using Movie Database.([Database](https://sqlzoo.net/wiki/More_details_about_the_database.))

**List the films where the yr is 1962 [Show id, title]**

In [ ]:
SELECT id, title
FROM movie
WHERE yr = 1962

**When was Citizen Kane released?**

In [ ]:
SELECT yr 
FROM movie 
WHERE title = 'Citizen Kane'

**List all of the Star Trek movies, include the id, title and yr (all of these movies include the words Star Trek in the title). Order results by year.**

In [ ]:
SELECT id, title, yr
FROM movie
WHERE title LIKE '%Star Trek%'
ORDER BY yr

**What id number does the actor 'Glenn Close' have?**

In [ ]:
SELECT id
FROM actor
WHERE name = 'Glenn Close'

**What is the id of the film 'Casablanca'**

In [ ]:
SELECT id
FROM movie
WHERE title = 'Casablanca'

**Obtain the cast list for 'Casablanca'.Use movieid from the previous question**

In [ ]:
SELECT actor.name
FROM actor
JOIN casting
ON casting.actorid = actor.id
WHERE casting.movieid = 27;

**Obtain the cast list for the film 'Alien'**

In [ ]:
SELECT name
FROM actor
WHERE id IN (SELECT actorid
             FROM casting
             WHERE movieid IN (SELECT id
                               FROM movie
                               WHERE title = 'Alien'))

**List the films in which 'Harrison Ford' has appeared**

In [ ]:
SELECT movie.title
FROM actor
JOIN casting
ON actor.id = casting.actorid
JOIN movie
ON movie.id = casting.movieid
WHERE actor.name = 'Harrison Ford'

**List the films where 'Harrison Ford' has appeared - but not in the starring role.**

In [ ]:
SELECT title
FROM movie
JOIN casting 
ON movie.id = casting.movieid
JOIN actor
ON actor.id = casting.actorid
WHERE actor.name = 'Harrison Ford' AND casting.ord != 1

**List the films together with the leading star for all 1962 films.**

In [ ]:
SELECT movie.title, actor.name
FROM movie
JOIN casting
ON movie.id = casting.movieid
JOIN actor
ON actor.id = casting.actorid
WHERE movie.yr = 1962 AND casting.ord = 1

**Which were the busiest years for 'Rock Hudson', show the year and the number of movies he made each year for any year in which he made more than 2 movies.**

In [ ]:
SELECT yr, COUNT(title)
FROM movie
JOIN casting 
ON movie.id = casting.movieid
JOIN actor
ON actor.id = casting.actorid
WHERE name = 'Rock Hudson'
GROUP BY yr
HAVING COUNT(title) > 2

**List the film title and the leading actor for all of the films 'Julie Andrews' played in.**

In [ ]:
SELECT movie.title, name
FROM actor 
JOIN casting
ON casting.actorid = actor.id
JOIN movie
ON movie.id = casting.movieid
WHERE ord = 1 AND movieid IN (SELECT movieid
                              FROM casting
                              JOIN actor
                              ON actor.id = casting.actorid
                              WHERE name = 'Julie Andrews')

**Obtain a list, in alphabetical order, of actors who've had at least 15 starring roles.**

In [ ]:
SELECT name
FROM actor
JOIN casting
ON actorid = actor.id
WHERE ord = 1
GROUP BY actor.name
HAVING COUNT(ord) >= 15

**List the films released in the year 1978 ordered by the number of actors in the cast, then by title.**

In [ ]:
SELECT title, COUNT(casting.actorid)
FROM movie
JOIN casting
ON movie.id = casting.movieid
WHERE yr = 1978
GROUP BY title
ORDER BY COUNT(casting.actorid) DESC, movie.title

**List all the people who have worked with 'Art Garfunkel'.**

In [ ]:
SELECT b.name
FROM (SELECT *
      FROM actor
      JOIN casting
      ON actorid = actor.id
      WHERE name = 'Art Garfunkel') as a
JOIN (SELECT *
      FROM actor
      JOIN casting
      ON actorid = actor.id
      WHERE name != 'Art Garfunkel') as b
ON a.movieid = b.movieid