# NSS Tutorial

**Show the the percentage who STRONGLY AGREE**

In [ ]:
SELECT A_STRONGLY_AGREE
  FROM nss
 WHERE question='Q01'
   AND institution='Edinburgh Napier University'
   AND subject='(8) Computer Science'

**Show the institution and subject where the score is at least 100 for question 15.**

In [ ]:
SELECT institution, subject
  FROM nss
 WHERE score >= 100 AND 
       question = 'Q15'

**Show the institution and score where the score for '(8) Computer Science' is less than 50 for question 'Q15'**

In [ ]:
SELECT institution, score
FROM nss
WHERE question='Q15' AND 
      score < 50 AND 
      subject = '(8) Computer Science'

**Show the subject and total number of students who responded to question 22 for each of the subjects '(8) Computer Science' and '(H) Creative Arts and Design'**

In [ ]:
SELECT subject, SUM((A_STRONGLY_AGREE * response)/100)
FROM nss
WHERE question='Q22'AND
      subject IN ('(8) Computer Science',
                    '(H) Creative Arts and Design')
GROUP BY subject

**Show the subject and total number of students who A_STRONGLY_AGREE to question 22 for each of the subjects '(8) Computer Science' and '(H) Creative Arts and Design**

In [ ]:
SELECT subject, SUM((A_STRONGLY_AGREE*response)/100) 
FROM nss
WHERE question = 'Q22' AND 
      subject IN ('(8) Computer Science','(H) Creative Arts and Design')
GROUP BY subject

**Show the percentage of students who A_STRONGLY_AGREE to question 22 for the subject '(8) Computer Science' show the same figure for the subject '(H) Creative Arts and Design'**

In [ ]:
SELECT subject,ROUND((SUM((A_STRONGLY_AGREE * response)/100) * 100)/SUM(response),0)
FROM nss
WHERE question = 'Q22' AND
subject IN ('(8) Computer Science','(H) Creative Arts and Design')
GROUP BY subject

**Show the average scores for question 'Q22' for each institution that include 'Manchester' in the name.**

**Show the institution, the total sample size and the number of computing students for institutions in Manchester for 'Q01'**

In [ ]:
SELECT institution, SUM(sample), SUM(CASE WHEN subject = '(8) Computer Science' THEN sample ELSE 0 END) as comp
FROM nss
WHERE question = 'Q01' AND 
      institution LIKE '%Manchester%'
GROUP BY institution