[Source](https://leetcode.com/study-plan/sql/?progress=xhkyitnr)

In [ ]:
# Big Countries
SELECT name, population, area
FROM World
WHERE area >= 3000000 OR population >= 25000000;

In [ ]:
# Recyclable and Low Fat Products
SELECT product_id 
FROM Products 
WHERE low_fats = 'Y' AND recyclable = 'Y'

In [ ]:
# Find Customer Referee
SELECT name
FROM Customer
WHERE referee_id != 2 OR referee_id IS NULL

In [ ]:
# Customers Who Never Order
SELECT name as Customers
FROM Customers
WHERE id NOT IN (SELECT customerId 
            FROM Orders)

In [ ]:
# Calculate Special Bonus
SELECT employee_id,
CASE WHEN (employee_id % 2 != 0) AND (name NOT LIKE "M%") THEN salary
ELSE 0 END AS bonus
FROM Employees
ORDER BY employee_id

In [ ]:
# Swap Salary
UPDATE Salary
SET
sex = CASE sex
      WHEN 'm' THEN 'f'
      ELSE 'm' END

In [ ]:
# DELETE Duplicate Emails
DELETE p1
FROM Person p1
JOIN Person p2
ON p1.email = p2.email
WHERE p1.id > p2.id;

In [ ]:
# Fix Names in a Table
SELECT user_id,CONCAT(UPPER(LEFT(name,1)),LOWER(SUBSTRING(name,2,100))) AS name
FROM Users
ORDER BY user_id

In [ ]:
# Group Sold Products By The Date
SELECT sell_date,
COUNT(DISTINCT(product)) as num_sold,
GROUP_CONCAT(DISTINCT(product)) as products
FROM Activities
GROUP BY sell_date
ORDER BY sell_date

In [ ]:
# Patients With a Condition
SELECT patient_id, patient_name, conditions
FROM Patients
WHERE conditions LIKE 'DIAB1%' OR conditions LIKE '% DIAB1%'

In [ ]:
# Employees With Missing Information

SELECT employee_id
FROM Employees 
WHERE employee_id NOT IN (SELECT employee_id FROM Salaries)
UNION
SELECT employee_id
FROM Salaries
WHERE employee_id NOT IN (SELECT employee_id FROM Employees)
ORDER BY employee_id

In [ ]:
#  Rearrange Products Table

SELECT product_id,'store1' AS store, store1 AS price
FROM Products
WHERE store1 IS NOT NULL

UNION

SELECT product_id, 'store2' AS store, store2 AS price
FROM Products
WHERE store2 IS NOT NULL

UNION 

SELECT product_id, 'store3' AS store, store3 AS price
FROM Products
WHERE store3 IS NOT NULL

In [ ]:
# Tree Node

SELECT id,
CASE WHEN p_id IS NULL THEN 'Root'
WHEN ((p_id<id) OR (p_id>id)) AND id IN (SELECT p_id FROM Tree) THEN 'Inner'
ELSE 'Leaf' 
END AS type
FROM Tree

In [ ]:
# Second Highest Salary

SELECT MAX(salary) as SecondHighestSalary
FROM Employee
WHERE salary NOT IN (SELECT max(salary) FROM Employee)

In [ ]:
# Combine Two Tables
SELECT p.firstName, p.lastName, a.city, a.state
FROM Person as p 
LEFT JOIN Address as a
ON p.personId = a.personId

In [ ]:
# Article Views
SELECT DISTINCT author_id as id
FROM Views
WHERE author_id = viewer_id
ORDER BY author_id

In [ ]:
# Rising Temperatures
SELECT w1.id
FROM weather as w1
JOIN weather as w2
ON datediff(w1.recordDate,w2.recordDate) = 1
WHERE w1.temperature > w2.temperature

In [ ]:
# Sales Person
SELECT name
FROM salesperson as s
WHERE sales_id NOT IN (SELECT sales_id FROM orders as O
                       LEFT JOIN Company as C 
                       ON o.com_id = c.com_id
                       WHERE c.name = 'RED')

**User Activity for the Past 30 Days**

In [ ]:
SELECT activity_date as day,
COUNT(DISTINCT user_id) as active_users
FROM
Activity
WHERE activity_date > '2019-07-27' - INTERVAL 30 DAY AND activity_date <= '2019-07-27'
GROUP BY activity_date

**Daily Leads and Partners**

In [ ]:
SELECT date_id, make_name,
COUNT(DISTINCT lead_id) AS unique_leads, COUNT(DISTINCT partner_id) AS unique_partners
FROM DailySales
GROUP BY date_id, make_name
ORDER BY make_name, date_id

**Find Followers Count**

In [ ]:
SELECT user_id, 
COUNT(DISTINCT follower_id) AS followers_count
FROM Followers
GROUP BY user_id

**Customer Placing the Largest Number of Orders**

In [ ]:
SELECT customer_number
FROM Orders
GROUP BY customer_number
ORDER BY COUNT(order_number) DESC
LIMIT 1

**Game Play Analysis**

In [ ]:
SELECT player_id, MIN(event_date) as first_login
FROM Activity
GROUP BY player_id

**The Latest Login in 2020**

In [ ]:
SELECT user_id, MAX(time_stamp) as last_stamp
FROM Logins
WHERE YEAR(time_stamp) = '2020'
GROUP BY user_id

**Find Total Time Spent by Each Employee**

In [ ]:
SELECT event_day as day, emp_id, SUM(out_time - in_time) as total_time
FROM employees
GROUP BY event_day, emp_id

**Capital Gain/Loss**

In [ ]:
SELECT stock_name,
SUM(IF(operation = 'Buy',price * (-1),price)) as capital_gain_loss
FROM Stocks
GROUP BY stock_name

**Top Travellers**

In [ ]:
SELECT u.name,
CASE WHEN r.distance IS NULL THEN 0 
     WHEN r.distance IS NOT NULL THEN SUM(r.distance)
     END AS travelled_distance
FROM Users As u LEFT JOIN Rides As r
ON u.id = r.user_id
GROUP BY r.user_id
ORDER BY SUM(r.distance) DESC, u.name ASC

**Duplicate Emails**

In [ ]:
SELECT email 
FROM Person
GROUP BY email
HAVING COUNT(email) > 1

**Actors and Directors Who Cooperated At Least Three Times**

In [ ]:
SELECT actor_id, director_id
FROM ActorDirector
GROUP BY actor_id, director_id
HAVING COUNT(timestamp)>=3

**Bank Account Summary II**

In [ ]:
SELECT u.name, SUM(t.amount) as balance
FROM Users As u JOIN Transactions As t
ON u.account = t.account
GROUP BY u.account
HAVING SUM(t.amount) > 10000

**Sales Analysis III**

In [ ]:
SELECT p.product_id,p.product_name
FROM Product as p JOIN Sales as s
ON p.product_id = s.product_id
GROUP BY p.product_id
HAVING MIN(sale_date) >= '2019-01-01'
AND MAX(sale_date) < '2019-03-31'